@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("../fonts/roboto.woff") format("woff"),
    url("../fonts/roboto.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local(""), url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local(""), url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}

/*Общие стили*/

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.1;
    font-weight: 400;
    overflow-x: hidden;
    min-width: 1200px;
    margin: 0;
    padding: 0;
}


img {
    max-width: 100%;
    height: auto;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}


.btn {
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    font-size: inherit;
    font-weight: 500;
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

a {
    text-decoration: none;
    color: #000000;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1190px;
    margin: 0 auto;
    padding: 0 15px;
}

.subtitle {
    color: #283136;
    line-height: 1.5;
    margin: 0;
}

/*Шапка*/

.main-header {
    background-color: #eeeeee;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    flex-wrap: wrap;
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
}

.nav-list-item:not(:last-child) {
    margin-right: 45px;
}

.cart {
    margin-left: auto;
    padding-top: 10px;
    width: 115px;
}

.cart::before {
    content: "";
    display: inline-block;
    background-image: url("../img/svg/cart-icon.svg");
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    margin-right: 25px;
    margin-bottom: -2px;
}

/* Блок преимуществ */

.features {
    background-color: #eeeeee;
    padding: 80px 0;
    margin-bottom: 80px;
}

.features-list {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.feature-item {
    width: 100%;
    display: none;
}

.features-item-active {
    display: flex;
}

.feature-content {
    z-index: 1;
    min-width: 380px;
    margin-right: 50px;
}

.feature-image {
    position: absolute;
    min-width: 700px;
    bottom: -80px;
    right: 0;
    z-index: 0;

}

.feature-title {
    margin: 0 0 28px;
    max-width: 540px;
    width: 100%;
    font-weight: 500;
    font-size: 55px;
}

.feature-content .subtitle {
    width: 100%;
    max-width: 360px;
    margin-bottom: 40px;
}

.slider-button {
    width: 240px;
    background-color: #fb565a;
    padding: 16px 15px;
    border-radius: 3px;
    display: block;
}

.slider-controls {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.slider-control {
    border-radius: 100%;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
}

.slider-control:not(:last-child) {
    margin-right: 15px;
}

.slider-control-active {
    position: relative;
}

.slider-control-active::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    border: 2px solid #c1c1c1;
}

/* Блок предложений */

.offer {
    margin-bottom: 40px;
    border-bottom: solid 2px #eeeeee;

}


.offer-list {
    display: flex;
    padding-bottom: 80px;
}

.offer-list-item {
    min-width: 300px;
}

.offer-list-item:not(:last-child) {
    margin-right: 100px;
}

.offer-title {
    padding: 0;
    margin-top: 32px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.offer-list-item .subtitle {
    margin-bottom: 35px;
}

.offer-list-item a {
    min-width: 160px;
    padding: 16px 15px;
    border-radius: 3px;
    display: block;
}

.offer-button-1 {
    background-color: #fb565a;
}

.offer-button-2 {
    background-color: #00ca74;
}

.offer-button-3 {
    background-color: #efc84a;
}

/* Блок о компании */

.about {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    border-bottom: solid 2px #eeeeee;
}

.about-us-wrapper {
    padding-right: 150px;
    min-width: 650px;
}

.tagline {
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 35px;
}

.about-us-wrapper .subtitle {
    margin-bottom: 50px;
}

.about-offer {
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 0 30px;
}

.about-offer-item:not(:last-child) {
    margin-bottom: 30px;
}

.about-offer-list {
    margin-left: 35px;
}

.about-offer-item {
    position: relative;
}

.about-offer-item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -35px;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}

.why-us-container {
    min-width: 360px;
}

.why-we-logo {
    margin-bottom: 40px;
}

.why-we-list {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 25px;
    row-gap: 27px;
}

.why-we-item .subtitle {
    line-height: 1.1;
}

.why-we-item > span {
    font-size: 45px;
    font-weight: 700;
}

/* Блок наших клиентов */

.our-clients-wrapper {
    min-height: 180px;
    padding-top: 45px;
    margin-bottom: 80px;
    border-bottom: solid 2px #eeeeee;

}

.clients-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.clients-list-item {
    position: relative;
    min-width: 260px;
    text-align: center;
}

.clients-list-item::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 52px;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    background-color: #eeeeee;
}

/* Футер */

.main-footer {

}

.map {
    margin-top: 80px;
}

.map-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 416px;
    background-color: #b5b5b5;
}

.map-wrapper iframe {
    z-index: 20;
    border: none;
}

.map-wrapper img {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 416px;
    margin: 0 auto;
}

.map-contacts {
    position: absolute;
    z-index: 30;
    width: 319px;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    background-color: #ffffff;
    padding: 48px 48px 48px 50px;
}


.contact-card-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 32px;
}

.contact-card-address,
.contact-card-phone a {
    color: #666666;
    margin-bottom: 37px;
}


.contact-button {
    width: 219px;
    background-color: #fb565a;
    padding: 16px 15px;
    border-radius: 3px;
    display: block;
}


.footer-social-wrapper {
    display: flex;
    margin: 72px auto;
    align-items: center;
}

.footer-social-content {

}


.footer-social-list {
    display: flex;
    margin-right: 140px;
}


.footer-social-item:not(:last-child) {
    margin-right: 12px;
}

.footer-social-item {
    cursor: pointer;
}

.footer-social-link {
    display: inline-block;
    border-radius: 100%;
    width: 79px;
    height: 79px;
    background-color: #e1e1e1;
    background-position: center;
    background-repeat: no-repeat;
}


.social-link-vk {
    background-image: url("/img/svg/vk-icon.svg");
}

.social-link-fb {
    background-image: url("/img/svg/fb-icon.svg");
}

.social-link-inst {
    background-image: url("/img/svg/insta-icon.svg");
}


.footer-social-title {
    font-size: 36px;
    font-weight: 700;
    margin-top: 4px;
    margin-bottom: 12px;
}

.footer-social-subtitle {
    color: #444444;
    margin: 0;
}

/* Блок формы */

.pop-up {
    display: none;
}